@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "Chakra Petch", monospace;
  --font-sans: "Chakra Petch", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #010915;
  color: #c9e0ff;
  overscroll-behavior-y: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(2, 17, 36, 0.8); 
  border-left: 1px solid rgba(0, 64, 128, 0.5);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(3, 219, 252, 0.5); 
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 219, 252, 1); 
  box-shadow: 0 0 10px rgba(3, 219, 252, 0.8);
}
